<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.li.knowledgefarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:fitsSystemWindows="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Shop.ShopActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".Main.MainActivity" android:screenOrientation="landscape"/>
        <activity android:name=".Login.LoginByAccountActivity"
            android:screenOrientation="landscape"></activity>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Login.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101827462" /> <!-- 开放平台获取的APPID -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".Study.MathActivity"
            android:screenOrientation="landscape"
            android:theme="@style/customApp"></activity>
        <activity android:name=".Study.SubjectListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/customApp"/>
        <activity
            android:name=".Settings.SettingActivity"
            android:screenOrientation="landscape"
            android:theme="@style/customApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>