<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.li.knowledgefarm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- 数学题Activity -->
        <activity android:name=".Study.MathActivity"
            android:screenOrientation="landscape"
            android:theme="@style/customApp"></activity>
        <!-- 选择学科Activity -->
        <activity android:name=".Study.SubjectListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/customApp"/>
        <!-- 设置Activity -->
        <activity
            android:name=".Settings.SettingActivity"
            android:screenOrientation="landscape"
            android:theme="@style/customApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 作物商店Activity -->
        <activity
            android:name=".Shop.ShopActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>