<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.li.knowledgefarm">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 得到屏幕正常的物理尺寸 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".Jpush.Myapplication"
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".pk.PkActivity" android:screenOrientation="landscape"></activity>

        <service
            android:name=".Main.bgsound.BackgroundSoundService"
            android:exported="false" />

        <activity
            android:name=".Settings.SettingMessageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".notify.NotifyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login.RegisteActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MyFriends.MyFriendActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login.QQFirstActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login.FindPassword"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login.StartActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Shop.ShopActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Main.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login.LoginByAccountActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1110065654" /> <!-- 开放平台获取的APPID  101827462  1110127580 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Study.Subject.QuestionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/customApp" />
        <activity
            android:name=".Study.SubjectListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/customApp" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".Jpush.MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.li.knowledgefarm" />
            </intent-filter>
        </receiver>
    </application>

</manifest>